.mainStyle {
    background-color: #ffffff;
    padding: 0 10rem;
    text-align: center;
    max-width: 60em;
    border: #041150 solid 10px;
    border-radius: 10px;
    margin-top: 2em;
}

.heroSection {
    border-bottom: #041150 solid 10px;
}

.heroSection p {
    padding-bottom: 5rem;
}

.mainHone {
    font-size: 2.5rem;
    color: #9608e2;
    padding-top: 2rem;
    align-items: center;
}

.mainCard {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #041150 solid 5px;
    border-radius: 10px;
    padding: 10px;
    max-width: 40rem;
}

.mainList {
    margin-top: 3rem;
    border-bottom: #041150 solid 10px;
}

.mainList p {
    padding-bottom: 1rem;
}

.newHtwo {
    font-size: 1.5rem;
    color: #041150;
    font-weight: bold;
    border-bottom: #041150 solid 5px;
    padding-bottom: 30px;
}

.familyPic {
    width: 75%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px 12px;
}

.updateSection {
    background-color: #041150;
    color: white;
    padding: 3rem;
    margin-top: 4rem;
    margin-bottom: 10rem;
}

.updatePic {
    margin-top: 2rem;
    width: 75%;
    height: auto;
}